  @Charset "UTF-8";
  *{
            margin: 0px;
            padding: 0px;
            font-family: Arial, Helvetica, sans-serif;
        }
        a{
            display: block;
            color: white;
            text-decoration: none;
            background-color: darkred;
            text-align: center;
            padding: 20px;
        }
        a:hover{
            background-color: red;
        }

        img{
            width: 100vw;
        }
        ::-webkit-scrollbar{
            width: 0px;
            height: 0px;
        }