@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;

    background-color: black;
}

body{
    background: url("../imagens/fundo-madeira.jpg") no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main{
    height: 100vh;
    position: relative;
}

section#telefone{
    height: 613px;
    width: 291px;
    background-color: azure;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("../imagens/blue-smartphone-mockup-blank-screen-isolated-on-transparent-background-smartphone-mockup-frame-free-png.png") no-repeat;
}